
<h2>Articol <%= invoiceEntry.nc8Code %> </h2>

<a href="/invoiceEntries/<%= invoiceEntry.id %>/edit">Edit</a>
<%- include('../partials/deleteForm.ejs', 
    { url : `/invoiceEntries/${invoiceEntry.id}` }) %>

<%- include('_form_fields') %>


<% if (invoices.length > 0 ) { %>
    <h3>Facturi</h3>
    <% invoices.forEach(invoice => { %>   
        <div>Factura <%= invoice.invoiceNo %> - <%= invoice.entries.length %> articole </div> 
    <% }) %>
<% } %>