<label>Firma</label>
<input type="text" name="firmName" value="<%=invoice.firmName%>" />
<br />
<label>Perioada de declarare</label>
<input type="text" name="timeline" value="<%=invoice.timeline%>" />
<br />
<label>Nr. Factura</label>
<input type="text" name="invoiceNo" value="<%=invoice.invoiceNo%>" />
<br />
<label>Valoare totala factura</label>
<input type="number" name="totalVal" value="<%=invoice.totalVal%>" />

<label>Curs valutar</label>
<input type="text" name="exchangeRate" value="<%=invoice.exchangeRate%>" />

<label>Moneda</label>
<select name="currency">
    <option selected label="EUR" value="EUR" />
    <option label="RON" value="RON" />
    <option label="GBP" value="GBP" />
</select> 
<br />

<label>Conditie de livrare</label>
<input type="text" name="deliveryTermsCode" value="<%=invoice.deliveryTermsCode%>" />
<br />

<% if (locals.natureOfTransactions) { %> 
           
    <%- include('../partials/natureOfTransactionSelect.ejs', {
        categoryRef : "A" , 
        invoiceMatch: invoice.natureOfTransactionCodeA  }) %> 
       
    <%- include('../partials/natureOfTransactionSelect.ejs', {
        categoryRef : "B" , 
        invoiceMatch: invoice.natureOfTransactionCodeB  }) %>

<% } else { %>
    
    <label>Natura tranzactiei - Cod A</label>
    <input type="text" name="natureOfTransactionCodeA" value="<%=invoice.natureOfTransactionCodeA%>" readonly />

    <label>Natura tranzactiei - Cod B</label>
    <input type="text" name="natureOfTransactionCodeB" value="<%=invoice.natureOfTransactionCodeB%>" readonly /> 

<% } %> 
    


