<label>Firma</label>
<input type="text" name="firmName" value="<%=invoice.firmName%>" />
<br />
<label>Perioada de declarare</label>
<input type="text" name="timeline" value="<%=invoice.timeline%>" />
<br />
<label>Nr. Factura</label>
<input type="text" name="invoiceNo" value="<%=invoice.invoiceNo%>" />
<br />
<label>Valoare totala factura</label>
<input type="number" name="totalVal" value="<%=invoice.totalVal%>" />

<label>Curs valutar</label>
<input type="text" name="exchangeRate" value="<%=invoice.exchangeRate%>" />
<label>Moneda</label>
<select name="currency">
    <option selected label="EUR" value="EUR" />
    <option label="RON" value="RON" />
    <option label="GBP" value="GBP" />
</select> 
<br />

<label>Conditie de livrare</label>
<input type="text" name="deliveryTermsCode" value="<%=invoice.deliveryTermsCode%>" />
<br />
<label>Natura tranzactiei - Cod A</label>
<select name="natureOfTransactionCodeA">
    <% natureOfTransactions.forEach((item)=> { %>
         <!-- if the invoice already has an A-category item selected  -->
        <% if(item.code === invoice.natureOfTransactionCodeA) { %>
            <option selected label="<%= item.code %> - <%= item.name %>" value="<%= invoice.natureOfTransactionCodeA %>" />
        <% } else { %>
            <!-- display only A-category items  -->
            <% if("A" === item.category) { %>
                <option label="<%= item.code %> - <%= item.name %>" value="<%= invoice.natureOfTransactionCodeA %>" />
            <% } %>
        <% } %>
    <% }) %>
</select>
<br />
<label>Natura tranzactiei - Cod B</label>

<select name="natureOfTransactionCodeB">
    <% natureOfTransactions.forEach((item)=> { %>
          <!-- if the invoice already has an B-category item selected  -->
        <% if(item.code===invoice.natureOfTransactionCodeB) { %>
            <option selected label="<%= item.code %> - <%= item.name %>" value="<%= invoice.natureOfTransactionCodeB %>" />
        <% } else { %>
            <!-- display only B-category items  -->
            <% if("B" === item.category) { %>
                <option label="<%= item.code %> - <%= item.name %>" value="<%= invoice.natureOfTransactionCodeA %>" />
            <% } %>
        <% } %>
    <% }) %>
</select>
<br />